*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.controls
{
    padding: 0.5rem;
    background-color: white;
    z-index: 10000;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.controls input
{
    width: 200px;
}
#canvas1
{
    width: 800px;
    height: 700px;
    position: absolute;
    border: 2px solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}